BasedOnStyle: LLVM

Standard: c++20

IndentWidth: 2
ColumnLimit: 100

AlwaysBreakTemplateDeclarations: true
IndentRequiresClause: false

PointerAlignment: Left
ReferenceAlignment: Left

AccessModifierOffset: -1

AlignTrailingComments: true
SpacesBeforeTrailingComments: 2

AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
IndentCaseBlocks: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon

AlignConsecutiveAssignments: true

BinPackArguments: false
BinPackParameters: false
